#mundotop{
    width: 20%;
    border-radius: 50%;
    /* transform: scale(0.5) */
}

body{
    background-color: #777;
}

h1{
    color: #333;
    font-family: Arial, sans-serif;
}

p{
    font-size: 16px;
    line-height: 1.4;
}

img{
    max-width: 100%;
    width: 20%;
    height: auto;
    margin: 20px 0;
}

a {
    color: #0070cc;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
